<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./templates/template.xhtml">

            <ui:define name="content">
                <p:panel id="pnlPrincipal">
                    <h:form id="frmPrincipal">
                        <p:outputLabel id="lblInicio" value="Inicio"/>
                        <p:commandButton id="btnPrincipal" value="Abrir Segundo" actionListener="#{personaFormBean.verSecundario()}"/>
                    </h:form>
                </p:panel>


                <h:form id="frmSecundario">
                    <p:messages />
                    <p:dialog id="dlgSecundario" header="Segundo" widgetVar="segundo" modal="true"
                              showEffect="fade" hideEffect="explote">
                        <p:outputLabel id="lblNombre" value="Nombre: "/>
                        <p:inputText id="txtNombre" value="#{personaFormBean.personaBena.persona.nombre}"/>
                        <br/>
                        <p:commandButton id="btnSecundario" value="Abrir Tercero"
                                         actionListener="#{personaFormBean.verTercero()}"/> 
                    </p:dialog>
                </h:form>

                <h:form id="frmTercero">
                    <p:messages />
                    <p:dialog id="dlgTercero" header="tercero" widgetVar="tercero" modal="true"
                              showEffect="explote" hideEffect="explote">
                        <p:commandButton id="btnTercero" value="Cerrar todos" 
                                         action="#{personaFormBean.cerrarTercero()}"
                                         oncomplete=":frmPersona" /> 
                    </p:dialog>
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
